.modal-overlay{
    top: 0;    left: 0;    right: 0;    bottom: 0;
    height: 100vh;    width: 100vw;
    position: fixed;
    background: var(--modal-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    z-index: 9999;
    backdrop-filter: var(--main-blur);
    -webkit-backdrop-filter: var(--main-blur);
}
.modal-panel{
    position: absolute;
    background: var(--modal-bg);
    padding: 15px;
}
.input-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}