.modal-overlay{
    top: 0;    left: 0;    right: 0;    bottom: 0;
    height: 100vh;    width: 100vw;
    position: fixed;
    background: var(--modal-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: env(keyboard-inset-height, 0px);
    transition: padding-bottom 0.3s ease;
    z-index: 9999;
    backdrop-filter: var(--main-blur);
    -webkit-backdrop-filter: var(--main-blur);
}
.modal-panel{
    position: absolute;
    background: var(--modal-bg);
    border-radius: var(--btn-radius);
    padding: 15px;
    margin: 30px;
}
.input-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.input-container input{
    color: var(--text-color);
}
.top-title{
    color: var(--text-color);
}
.modal-actions{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}