/* Імпорт модулів */
@import "styles/variables.css";
@import 'styles/buttons.css';
@import 'styles/modal.css';
@import 'styles/inputs.css';
@import 'styles/listitems.css';
/* Базові налаштування */
html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-image: var(--main-bg);
    background-size: cover;
    background-attachment: fixed;
}
.status-bar-panel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    min-height: 38px;

    height: max(env(safe-area-inset-top), 38px);

    /* 3. Зробимо фон ТИМЧАСОВО яскравішим, щоб перевірити позицію */
    background: rgba(255, 255, 255, 0.3);

    backdrop-filter: var(--main-blur);
    -webkit-backdrop-filter: var(--main-blur);

    z-index: 1000;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    /* Додамо це для впевненості, що блок малюється */
    display: block;
}

/* Головний контейнер для ВСІХ сторінок */
main {
    /* Додаємо відступ зверху рівний висоті панелі + трохи запасу */
    padding-top: calc(env(safe-area-inset-top, 32px) + 10px);
    min-height: 100vh;
}
.main-container {
    margin-top: calc(env(safe-area-inset-top, 30px) + 20px);
}
.top-title {
    text-align: center;
}



/* Стандартні стилі Blazor, які ти надав */
a, .btn-link { color: #006bb7; }
.btn-primary { color: #fff; background-color: #1b6ec2; border-color: #1861ac; }
.content { padding-top: 1.1rem; }
.validation-message { color: #e50000; }